*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cointainer{
    width: 100%;
    /* height: 100vh; */
    overflow-x: none;
    background-color: #e2e5e8;
background-image: linear-gradient(98deg, #e2e5e8 0%, #ffffff 100%);

}

.navCointainer{
    width: 100vw;
    /* background-color:rgba(122, 122, 225, 0.49) ; */
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav{
    width: 100%;
    overflow-x: none;
    padding-right: 2rem;
}
#navList{
    width: 100%;
    padding: 15px;
    /* margin-left: 15px;
    margin-right: 15px; */
    list-style: none;
    font-size: 2.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navLogo{
    font-size: 2.5rem;
    color: azure;
    
}

a{
    text-decoration: none;
    color: azure;
}

#navItems{
    display: flex;
    gap: 40px;
}

.contentBox{
    width: 70%;
    margin: auto;
    /* border: 1px solid black; */
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 50%;
    padding: 3rem;
    box-shadow: 0px 0px 30px black;
}

.footerBox{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    width: 100%;
    text-align: center;
    min-height: 40px;

}

.footerBox p{
    color: azure;
    font-size: 2rem;
}

.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 30px; */
}

.rightBox{
    position: relative;
    overflow: hidden;
    transition: all 0.3s linear;
    box-shadow: 1px 1px 10px black;
    border: radius 20px;;
}

.rightBox img{
    height: 400px;
    width: 350px;
    border-radius: 20px;
    transition: all 0.6s linear 0s;
}
.rightBox:hover{
    transform: scale(1.1);
}

.leftBox{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.leftBox h2{
    font-size: 2rem;
}

.ingBox{
    font-size: 1.3rem;
}
.recipeBox{
    font-size: 1.1rem ;
}

.rightBox .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(36, 34, 34,0.713);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3 linear 0s ;
    height: 400px;
}
.rightBox:hover .overlay{
    opacity: 1;
}
.rightBox .overlay span{
    color: white;
    font-size: 1.2rem;
}